.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/eclipse-formatter.xml

result/*
!result/.gitkeep
!result/static
result/static/*
!result/static/hdfs341_cg_dynamic.obj.zst
!result/btm
result/btm/*
!result/btm/.gitkeep
!result/traces
result/traces/*
!result/traces/.gitkeep